{% extends 'layout.html' %}
{% block body %}
<h1>All aircrafts <button class="btn btn-default" onclick="show_add();"><span class="glyphicon glyphicon-plus"></span></button></h1>

<div class="panel panel-default" id="add" {% if first_time %} style="display: none;" {% endif %}>
  <div class="panel-heading">Add an aircraft</div>
  <div class="panel-body">
    <form action="" method="POST">
      <div class="form-group">
        <label>Immatriculation</label>
        <input type="text" name="immatriculation" class="form-control">
      </div>
      <div class="form-group">
        <label>Type</label>
        <input type="text" name="type" class="form-control">
      </div>
      <div class="form-group">
        <label>Number of seats</label>
        <input type="text" name="seats" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <table class="table table-striped">
    <tr>
      <th> Aircraft ID </th>
      <th> Immatriculation</th>
      <th> Type </th>
      <th> Number of seats </th>
      <th> Edit </th>
    </tr>
    {% for x in aircrafts %}
    <tr>
      <td> {{x[0]}}</td>
      <td> {{x[1]}}</td>
      <td> {{x[2]}}</td>
      <td> {{x[3]}}</td>
      <td> <a href="edit/aircraft/{{x[0]}}" class="btn btn-default pullright"> Edit</a></td>

    </tr>
    {% endfor %}
  </table>
</div>


<script>
  function show_add() {
    if (document.getElementById("add").style.display === "block") {
      document.getElementById("add").style.display = "none";
    } else {
      document.getElementById("add").style.display = "block";
    }
  }
</script>
{% endblock %}