{% extends 'layout.html' %}

{% block body %}
<h1>Edit departure</h1>

<form action="" method="POST">
      
    <div class="form-group">
        <label>Departure ID</label>
        <input type="text" name="departure_date"  class="form-control" value={{departure[0]}} disabled>
      </div>

    <div class="form-group">
       <label>Departure date</label>
       <input type="text" name="departure_date"  class="form-control" value={{departure[1]}}>
     </div>

     <div class="form-group">
       <label>Number of free seats</label>
       <input type="text" name="free_seats"  class="form-control" value={{departure[2]}}>
     </div>
     <div class="form-group">
       <label>Number of sold seats</label>
       <input type="text" name="sold_seats" class="form-control" value={{departure[3]}}>
     </div>

     <div class="form-group">
       <label>Flight</label>
       <select name="flight" class="form-control" method="GET" action="/">
         <option  selected>({{departure[4]}})</option>
         {% for x in flights %}
         <option value="{{x}}">{{x}}</option>
         {% endfor %}
       </select>
     </div>

     <div class="form-group">
       <label>First pilot</label>
       <select name="pilot1" class="form-control" method="GET" action="/">
         <option  selected>({{departure[5]}})</option>
         {% for x in pilots %}
         <option value="{{x[:3]}}">{{x[0]}} : {{x[1]}} - {{x[2]}}</option>
         {% endfor %}
       </select>
     </div>
     <div class="form-group">
       <label>Second pilot</label>
       <select name="pilot2" class="form-control" method="GET" action="/">
         <option  selected>({{departure[6]}})</option>
         {% for x in pilots %}
         <option value="{{x[:3]}}">{{x[0]}} : {{x[1]}} - {{x[2]}}</option>
         {% endfor %}
       </select>
     </div>
     <div class="form-group">
       <label>First crew member</label>
       <select name="crew1" class="form-control" method="GET" action="/">
         <option  selected>({{departure[7]}})</option>
         {% for x in crews %}
         <option value="{{x[:3]}}">{{x[0]}} : {{x[1]}} - {{x[2]}}</option>
         {% endfor %}
       </select>
     </div>
     <div class="form-group">
       <label>Second crew member </label>
       <select name="crew2" class="form-control" method="GET" action="/">
         <option  selected>({{departure[8]}})</option>
         {% for x in crews %}
         <option value="{{x[:3]}}">{{x[0]}} : {{x[1]}} - {{x[2]}}</option>
         {% endfor %}
       </select>
     </div>

     <button type="submit" class="btn btn-primary">Add</button>
   </form>


{% endblock %}