{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
    {% if session.admin %}
    <h3> ADMIN DASHBOARD</h3>
    {% else %}
    <h3> Welcome {{session.username}}</h3>
    {% endif %}
</div>

{% if session.admin %}
<div class="navbar navbar-default">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a href="/airports">Airports</a></li>
            <li><a href="/aircrafts">Aircrafts</a></li>

            <li><a href="/links">Links</a></li>
            <li><a href="/flights">Flights</a></li>
            <li><a href="/departures">Departures</a></li>

            <li><a href="/roles">Roles</a></li>
            <li><a href="/employees">Employees</a></li>
        </ul>

    </div>
</div>
{% else %}
<div class="navbar navbar-default">
        <div class="container-fluid">
    
            <ul class="nav navbar-nav">
                <li><a href="/search-flight">Purchase a ticket</a></li>
                <li><a href="/my-tickets">Your reservations</a></li>
                
            </ul>
    
        </div>
    </div>


{% endif %}

{% endblock %}