{% extends 'layout.html' %}
{% block body %}


{% for x in tickets %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="ticket-title">{{x.departure_airport.city}} <span class="glyphicon glyphicon-arrow-right"></span> {{x.arrival_airport.city}}</div>
            </div>
            <div class="panel-body">
                <div class="col-xs-8">
                    <div class="row">From <span class="city">{{x.departure_airport.city}} - {{x.departure_airport.name}} ({{x.departure_airport.code}})</span> To <span class="city">{{x.arrival_airport.city}} - {{x.arrival_airport.name}} ({{x.arrival_airport.code}})</span></div>
                    <div class="row">Departure on {{x.departure_date.strftime('%Y-%m-%d')}} at {{x.departure_time}}</div>
                    <div class="row">Arrival on {{x.arrival_date.strftime('%Y-%m-%d')}} at {{x.arrival_time}}</div>
                    <div class="row">Total price: {{x.price}}€</div>
                </div>
                <div class="col-xs-4">
                    <a href="/cancel/{{x.ticketID}}"><button type="button" class="btn btn-default pull-right">Cancel</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<style>
    .ticket-title {
        font-size: 1.8em;
        font-weight: 600;
    }

    .ticket-title .glyphicon {
        font-size: 0.75em;
    }
</style>
{% endblock %}